pushs ""
storeg 0
pushi 0
storeg 1
start
pushs "Introduza uma string binária:"
writes
writeln
read
storeg 0
pushg 0
pusha BinToInt
call
storeg 1
pushs "O valor inteiro correspondente é: "
writes
pushg 1
writei
writeln
stop