pushi 0
storeg 0
pushi 0
storeg 1
start
read
dup 1
atoi
storeg 0
pushg 0
pusha SomaPares
call
storeg 1
pushs "Soma dos pares até "
writes
pushg 0
writei
pushs ": "
writes
pushg 1
writei
writeln
stop
SomaPares:
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
storel 2
pushi 0
storel 1
WHILE0:
pushl 1
pushl 0
infeq
jz ENDWHILE1
pushl 1
pushi 2
mod
pushi 0
equal
jz ENDIF2
pushl 2
pushl 1
add
storel 2
ENDIF2:
pushl 1
pushi 1
add
storel 1
jump WHILE0
ENDWHILE1:
pushl 2
storel 3
pushl 3
return
